# See also http://git-scm.com/docs/gitignore

# DIRECTORIES
bin/
build/
logs/
log/
.idea/
.gradle/
.settings/

# FILES
.project
.classpath
desktop.ini

# OTHER PATTERNS
*.uml
*.umlcd
*log