# See also http://git-scm.com/docs/gitignore

# DIRECTORIES
.metadata/
bin/
target/
build/
logs/
log/
.idea/
.gradle/
.settings/
.classpath/
.settings/
.project/

# FILES
desktop.ini

# OTHER PATTERNS
*.uml
*.umlcd
*.log
*.ini