/bin/
/build/
/logs/
/log/
*.uml
*.umlcd
/assets/
/.gradle/
/.settings/
.project
.classpath
desktop.ini
/*/bin/
/*/build/
/*/logs/
/*/log/
/*/*.uml
/*/*.umlcd
/*/assets/
/*/.gradle/
/*/.settings/
/*/.project
/*/.classpath
/*/desktop.ini
