.tutorial {
	-fx-border-color: yellow;
    -fx-border-width: 5px;
}


.modifiable {
}

.modifying {
	-fx-border-color: #2e8b57;
    -fx-border-width: 5px;
    -fx-cursor: crosshair;
}

.modifying:hover {
	-fx-border-color: yellow;
    -fx-border-width: 5px;
}