<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration>
<log4j:configuration debug="true"
	xmlns:log4j='http://logging.apache.org/log4j/2.x/'>
	<properties>
		<property name="logFolder">logs</property>
		<property name="logFileName">log.txt</property>
	</properties>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout
				pattern="%-8date{HH:mm:ss}{GMT+2} %-10.10c %-5.5p - (%class{1}.java:%L) : %m%n" />
		</Console>
		<File name="FILE" fileName="${logFolder}\${logFileName}" append="false">
			<PatternLayout
				pattern="%-8date{HH:mm:ss}{GMT+2} %-10.10c %-5.5p - (%class{1}.java:%L) : %m%n" />
		</File>
		<Async name="ASYNCFILE">
			<AppenderRef ref="FILE" />
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="Network" level="ALL" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ASYNCFILE" />
		</Logger>
	</Loggers>
</log4j:configuration>